<div class="app-container">
  <div id="sidebar">

    <nav class="sidebar">
      <ul>
        <li data-screen="dashboard" onclick="navigate('dashboard')">דף הבית</li>
        <li data-screen="cases" onclick="navigate('pullCases')">משיכת תיקים</li>
        <li data-screen="SwitchingModes" onclick="navigate('stateTransition')">מעבר מצבים</li>
        <li data-screen="routes" onclick="navigate('routesTable')">טבלאות</li>
      </ul>
    </nav>
  </div>

  <div class="main-area">
    <!-- <div id="topbar"></div> -->

    <div class="topbar">
      <span id="usernameDisplay"></span>
      <button onclick="handleLogout()">יציאה</button>
    </div>


    <div id="content"></div>
  </div>
</div>
